#background {
    background: url("light_beam.jpg") no-repeat 50% 50% fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}

.content {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffc107;
    font-family: 'Slabo 27px', serif;
}


.footer {
    position: fixed;
    margin-left: 50px;
    bottom: 0;
    width: 100%;
    color: rgba(255, 255, 255, 0.747);
    text-align: left;
}

.btn {
    text-align: center;
}

.btn-outline-warning {
    border-radius: 24px;
    transition: all .2s ease-in-out; /*animation*/
}
.btn-outline-warning:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
